
<div class="title">
   <h1>Adventure</h1>
   <h1>Lunch<span id="domain-suffix">.club</span></h1> 
</div>

<div class="columns-container">

  	<div class="left-column">
  		<h2>Adventure What?</h2>
  		<%= image_tag "egg_thing.jpg" %>
  		<p>
  		    Adventure Lunch is a weekly outing to an exotic  
  		    culinary establishment in New York City. The purpose is simple: 
  		    try new foods and make new friends. To attend is free and 
  		    anyone is welcome.
  		</p>
  	</div>

  	<div class="right-column">
  		<div id="next_lunch">
      		<h2>Next Lunch</h2>
      		<% if @next_lunch %>
               <h3>
                  <%= link_to @next_lunch.name, lunch_path(@next_lunch), :class => "lunch-name" %>
               </h3>
               <p>Date: <%= @next_lunch.date.strftime("%A, %B %d %Y") %> </p>
               <p>Time: <%= @next_lunch.date.strftime("%l:%M%p") %></p>
               <p>Address:</p>
               <address>
                  <%= @next_lunch.street %><br>
                  <%= "#{@next_lunch.city}, #{@next_lunch.state} #{@next_lunch.zipcode}" %> 
               </address>
               <p>Check out their <%= link_to "website", @next_lunch.url, :target => "_blank" %>.</p>
            <% else %>
               <h3>TBA</h3>
            <% end %>
  		</div>
  		<div class="past_lunches">
  		    <h2>Past Lunches</h2>
  		    <% @past_lunches.each do |lunch| %>
  		        <div id="past_lunch">
  		            <h3><%= link_to lunch.name, lunch_path(lunch.id), :class => "lunch-name" %></h3>
  		            <p>Check out their <%= link_to "website", lunch.url, :target => "_blank" %>.</p>
  		        </div>
  		    <% end %>
  		</div>
  	</div>
</div>
