<div class="form_wrapper">
  <div class="form_content">
    <h2>Add Lunch:</h2>
    
    <%= form_for(@lunch) do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :date %><br>
        <%= f.datetime_local_field :date %>
      </p>
      <p>
        <%= f.label :url %><br>
        <%= f.url_field :url %>
      </p>
      
    		<h2>Address</h2>
      <p>
        <%= f.label :street %><br>
        <%= f.text_field :street %>
      </p>
      <p>
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </p>
      <p>
        <%= f.label :state %><br>
        <%= f.text_field :state %>
      </p>
      <p>
        <%= f.label :zipcode %><br>
        <%= f.text_field :zipcode %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.label :lunch_image, 'Lunch Image:' %><br>
        <%= f.file_field :lunch_image %><br>
      </p>
      <p>
        <%= f.submit "Start The Adventure!" %>
      </p>
    <% end %>
  </div>
</div>