<div class="form_wrapper">
    <div class="form_content">
        <%= form_for(@lunch) do |f| %>
        
            <%= f.label :name, 'Lunch Name' %>
            <%= f.text_field :name %><br>
            
            <%= f.label :date %>
            <%= f.text_field :date %><br>
            
            <%= f.label :description %>
            <%= f.text_field :description %><br>
            
            <%= f.label :url %>
            <%= f.text_field :url %><br>
            
            <%= f.label :city, 'City' %>
            <%= f.text_field :city %><br>
            
            <%= f.submit %>
            
        <% end %>
    </div>
</div>