<div class="show_lunch_container">
  <div class="lunch_container">
    <h1><%= @lunch.name %></h1>
    <p>Date: <%= @lunch.date.strftime("%A, %B %d %Y") %></p>
    <p>Time: <%= @lunch.date.strftime("%l:%M%p") %></p>
    <p>Address:</p>
    <address>
      <%= @lunch.street %><br>
      <%= "#{@lunch.city}, #{@lunch.state} #{@lunch.zipcode}" %> 
    </address>
    <br>
    
    <!--Section for Reviews-->
    <!--When reviews-->
    <% if @reviews.none? %>
      <h3>Reviews:</h3>
      <hr />
      <% @reviews.each do |review| %>
        <h2><%= review.title %></h2>
        <p><%= simple_format(review.body) %></p>
        <% if review.swords? %>
          <strong id="swords">Swords:</strong><br>
          <% review.swords.times do %>
            <%= image_tag 'sword.png' %>
          <% end %>
          <h2 id="of_five" style = "display: inline">/5</h2>
        <% end %>
        
        <p>Review by: <%= review.fullname %></p>
        <hr>
      <% end %>
    <!--When no reviews-->
    <% else %>
      <p>No reviews yet. Be the first!</p>
    <% end %>
    
    <!--Form to Leave Review-->
    
    <% if user_signed_in? %>
      <h3>Don't be shy, tell us what you thought.</h3>
      <%= form_for @review, url: reviews_path, html: {method: :post}  do |f| %>
        <%= f.text_area :body, size: "60x12" %>
        <%= f.submit "Create" %>
      <% end %>
      
    <% else %>
      <h3><%= link_to "Log in", new_user_session_path %> to add your review.</h3>  
    <% end %>
  </div>
</div>
