<div class="show_lunch_container">
  <div class="lunch_container">
    <h1><%= @lunch.name %></h1>
    <p>Date: <%= @lunch.date.strftime("%A, %B %d %Y") %></p>
    <p>Time: <%= @lunch.date.strftime("%l:%M%p") %></p>
    <p>Website: <%= link_to @lunch.url %></p>
    <p>Address:</p>
    <address>
      <%= @lunch.street %><br>
      <%= "#{@lunch.city}, #{@lunch.state} #{@lunch.zipcode}" %> 
    </address>
    <% if @lunch.description %>
      <div class="lunch_description">
        <h3>About:</h3>
        <%= simple_format(@lunch.description, html_options = {style: "padding: 10px;"}) %>
      </div>
    <% end %>
    <br>
    
    <!--Section for Reviews-->
    <!--When reviews-->
    <% if @reviews.any? %>
      
        <h2 id="reviews_title">Reviews:</h2>
        <hr id="reviews_title_underline" />
        <% @reviews.each do |review| %>
          <div id="review_container">
            <h4 class="review_title"><%= review.title %></h4>
            <p class="review_author">Review by: <%= review.fullname %></p>
            <p><%= simple_format(review.body, html_options = {class: "review_body"}) %></p>
            <% if review.swords? %>
              <strong id="swords">Swords:</strong><br>
              <% review.swords.times do %>
                <%= image_tag 'sword.png', :class => "sword_image"%>
              <% end %>
              <h2 id="of_five" style = "display: inline">/5</h2>
            <% end %>
            <hr>
            </div>
          <% end %>
      <!--When no reviews-->
      <% else %>
        <p>No reviews yet. Be the first!</p>
      <% end %>
      
      <!--Form to Leave Review-->
      
      <% if user_signed_in? %>
        <h3>Don't be shy, tell us what you thought.</h3>
        
        <%= simple_form_for @review, url: reviews_path, html: {method: :post}  do |f| %>
          <span class="review-title">Title</span>
          <%= f.text_field :title, label: "Title" %><br/>
          <%= f.text_area :body, {placeholder: "Express your strong feelings here..."} %><br>
          <%= f.hidden_field :lunch_id, :value => @lunch.id %>
          <p>How many swords would you give? </p>
          <% 5.times do |i| %>
            <%= i+1 %><%= f.radio_button(:swords, i+1) %>
          <% end %>
          <br>
          <%= f.submit "Create" %>
        <% end %>
        
      <% else %>
        <h3><%= link_to "Log in", new_user_session_path %> to add your review.</h3>  
      <% end %>
  </div>
</div>
