<div class="review_container">
  <p id="notice"><%= notice %></p>
  <h1><%= @review.title %></h1>
  
  <p class="author_name">
    <strong>Written by:</strong>
    <%= @review.author %>
  </p>
  <p>
    Written on: <small><%= @review.created_at.strftime("%A, %B %d %Y") %></small>
  </p>
  
  <div class="review_body">
    <%= simple_format(@review.body) %>  
  </div>
  
     <% if @review.swords? %>
    <strong id="swords">Swords:</strong><br>
    <% @review.swords.times do %>
      <%= image_tag 'sword.png' %>
      <% end %>
    <%end %>
    <p id="of_five">/5</p>
  
  
  <!--<%= link_to 'Edit', edit_review_path(@review) %> |-->
  <!--<%= link_to 'Back', reviews_path %>-->
</div>  
