<!DOCTYPE html>
<html>
<head>
  <title>AdventureLunch.club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<div class="wrapper">
  <%= yield %>
<div class="push"></div>
</div>
<%= render 'layouts/footer' %>


</body>
</html>
